section {
  width: 1300px;
  max-width: 100%;
  margin: auto;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section.home_section {
  padding-top: 150px;
}

.content {
  font-family: "MuseoModerno", system-ui;
  max-width: 800px; 
}

.name {
  font-size: 5em;
  line-height: 1em;
}

.name span {
  background-image: linear-gradient(
    to right,
    #7be728,
    #f3265f,
    #7f40ac,
    #7be728
  );
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: shine 5s linear infinite;
}

.des {
  color: white;
  margin: 30px 0 50px 0;
  border-left: 0.7em solid #e945e3;
  padding-left: 2em;
}

section.home_section a {
  align-items: center;
  /* display: block; */
  font-size: large;
  color: #eee;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #eee;
  background-color: transparent;
  width: max-content;
  margin-top: 50px;
  padding: 20px 30px;
  border-radius: 40px;
  transition: all 0.3s ease;
}

section.home_section a:hover {
  background-color: #eee;
  color: #000;
}

@media (max-width: 1024px) {
  .name {
    font-size: 5em; 
  }

  .des {
    font-size: 1.2em;
    padding-left: 1em;
  }

  section.home_section a {
    padding: 15px 25px;
    font-size: medium;
  }
}

@media (max-width: 768px) {
  section {
    padding: 30px;
  }

  .name {
    font-size: 4em;
  }

  .des {
    font-size: 1em;
    padding-left: 0.8em;
  }

  section.home_section a {
    width: 100%; 
    text-align: center;
  }
}
