section {
  width: 1300px;
  max-width: 100%;
  margin: auto;
  padding: 50px;
  box-sizing: border-box;
  top: 0;
}

section.home {
  padding-top: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-content: space-between;
  align-items: center;

  & .content {
    font-family: "MuseoModerno", system-ui;
    & .name {
      font-size: 7em;
      font-weight: bold;
      line-height: 1em;
      & span {
        background-image: linear-gradient(
          to right,
          #7be728,
          #f3265f,
          #7f40ac,
          #7be728
        );
        background-size: 200% auto;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: shine 5s linear infinite;
      }
    }
    & .des {
      color: #eee5;
      margin: 30px 0;
      border-left: 0.7em solid #e945e3;
      padding-left: 2em;
    }
    & a {
      display: block;
      font-size: large;
      color: #eee;
      font-weight: bold;
      text-decoration: none;
      border: 1px solid #eee;
      background-color: transparent;
      width: max-content;
      padding: 20px 30px;
      border-radius: 40px;
    }
  }
  & .avatar {
    text-align: right;
    & .card {
      display: inline-flex;
      flex-direction: column;
      width: min(100%, 600px);
      transition: 0.5s;
      & img {
        width: 100%;
        height: min(75vh, 700px);
        transition: transform 0.3s ease-in-out;
        animation: pulse 2s infinite alternate ease-in-out;
      }
    }
  }
}

.section.home img {
  width: 100%;
  height: min(80vh, 700px);
  transition: transform 0.3s ease-in-out;
  animation: pulse 2s infinite alternate ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.09);
  }
}
