.form_section {
  background: linear-gradient(-45deg, #473bb4, #be24a9);
  border-radius: 1rem;
  padding: 2rem;
  margin: 50px auto;
  width: 75%;
}

.form_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.form_right,
.form_left,
.message_form {
  flex: 1;
  min-width: 250px;
}
.form_right h1 {
  color: white;
  margin-bottom: 20px;
}

.message_form {
  max-width: 400px;
  width: 100%;
}

.form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
}

.input,
.textarea {
  width: 100%;
  padding: 7px;
  outline: none;
  border-radius: 10px;
  border: 2px solid rgb(220, 220, 220);
  background-color: transparent;
}

.input:focus,
.textarea:focus {
  border: 2px solid rgba(220, 194, 222, 0.614);
}

.form_left h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
}
.form_left p {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 0.3rem;
}
.label {
  color: white;
}
.form_left {
  padding-left: 100px;
}
/* btn start  */

.contactUs_btn {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  color: white;
  margin-top: 10px;
  padding: 5px 50px;
  border: 2px solid #c3cbdc;
  background-color: transparent;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}

.contactUs_btn:hover {
  transition: 1000ms;
  padding: 5px 100px;
  transform: translateY(-0px);
  background: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
  color: black;
  font-size: 15px;
  font-weight: 400;
}

.formAlert {
  margin: 10px 0 10px;
  color: white;
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 850px) {
  .form_left {
    margin-top: 25px;
    padding-left: 50px;
  }
  .form_wrapper {
    flex-direction: column;
    align-items: center;
    flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  .form_section {
    margin: 1.4rem auto 18rem ;
    padding: 1rem;
  }

  .form_wrapper {
    flex-direction: column;
    align-items: center;
    flex-direction: column-reverse;
  }

  .message_form,
  .form_right {
    width: 80%;
    max-width: none;
  }
  .form_left  {
   margin-top: 30px;
  }
  .form_left p {
   margin: 5px;
  }
}
