.contact_form_section {
  background: linear-gradient(-45deg, #473bb4, #be24a9);
  border-radius: 1rem;
  padding: 2rem;
  margin: 50px auto 150px;
  width: 75%;
  max-width: 900px;
}

.contact_form_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.contact_form_right,
.contact_form_left,
.contact_message_form {
  flex: 1;
  min-width: 280px;
  text-align: center;
}

.contact_form_right h1 {
  color: white;
  margin-bottom: 20px;
}

.contact_form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 90%;
  font-size: 16px;
}

.contact_input,
.contact_textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  border: 2px solid rgb(220, 220, 220);
  background-color: transparent;
}

.contact_input:focus,
.contact_textarea:focus {
  border: 2px solid rgba(220, 194, 222, 0.614);
}

.contact_form_left h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
}

.contact_form_left p {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 0.3rem;
}

.contact_label {
  color: white;
}

.contactUs_btn {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  color: white;
  margin-top: 10px;
  padding: 10px 50px;
  border: 2px solid #c3cbdc;
  background-color: transparent;
  border-radius: 50px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}

.contactUs_btn:hover {
  padding: 10px 100px;
  background: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
  color: black;
  font-weight: 400;
}

.contact_formAlert {
  margin: 10px 0;
  color: white;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 850px) {
  .contact_form_left {
    margin-top: 25px;
    padding-left: 0;
  }

  .contact_form_wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .contact_form_section {
    width: 90%;
    margin: 2rem auto;
    padding: 1.5rem;
  }

  .contact_message_form,
  .contact_form_right {
    width: 100%;
    max-width: none;
  }

  .contact_form_left {
    margin-top: 30px;
    text-align: center;
  }

  .contact_form_left p {
    margin: 5px;
  }

  .contactUs_btn {
    width: 100%;
    justify-content: center;
  }
}
